@import url("https://fonts.googleapis.com/css2?family=Crushed&family=Fira+Sans:ital,wght@0,100;1,100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');


.container {
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
  border-radius: 20px;
  background-color: #fcfcfc;
  background-image: url("../../public/fondo.png");
  background-size: 300px 500px;
  margin-bottom: 5%;
  border-radius: 30px;
  
}

.intro {
  margin-top: 70px;
  text-align: center;
  padding: 10%;
  line-height: 43px;
  font-family: 'Roboto Mono', monospace;
  
}

.titulo {
  font-size: 2.5rem;
  background-color: #fcfcfc;
  
}

@media (max-width: 700px) {
 .titulo {
  font-size: 1.8rem;
  }
}

.intro h2,
h4 {
  margin-bottom: 25px;
  margin-top: 15px;
  font-size: 1.2rem;
  background-color: #fcfcfc;
 
}

@media (max-width: 700px) {
  .intro h2,
h4  {
   font-size: 0.9 rem;
   text-align: justify;
   }
 }

.intro h2 {
  font-size: 1.8rem;
  margin-top: 3%;
  
}

@media (max-width: 700px) {
  .intro h2 {
   font-size: 1.1 rem;
   text-align: center;
   }
 }

.containerimagen {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btncv {
  background-color: #d5f5f3;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
  width: 150px;
  height: 70px;
  border-radius: 30px;
  border-style: none;
  box-shadow: rgb(226, 231, 235) 3px 3px 6px 0px inset,
    rgba(204, 116, 233, 0.836) -3px -3px 6px 1px inset;
}

@media (max-width: 700px) {
  .btncv  {
  font-size: 0.8rem;
  width: 100px;
  height: 50px;
  }
}

.avatar {
  background-color: #d5f5f3;
  border: 10px;
  border-radius: 40px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  padding: 2%;
}

.avatar:hover {
  box-shadow: rgba(191, 222, 51, 0.828) 1.95px 1.95px 2.6px;
}
img {
  height: 250px;
  width: 250px;
}

.sobremi {
  text-align: center;
  margin: 5%;
  
}

.allh {
  background-color: #fcfcfc;
  box-shadow: rgba(207, 233, 94, 0.828) 1.95px 1.95px 2.6px;
  border-radius: 30px;
  padding: 3%;
  margin: 10%;
}
.herramientas {
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5%;

  
}

.herramientas img {
  width: 70px;
  height: 70px;
}

@media (max-width: 700px) {
  .herramientas img {
    width: 20px;
    height: 20px;
  }
}

.herramientas2 {
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.herramientas2 img {
  width: 50px;
  height: 50px;
}

@media (max-width: 700px) {
  .herramientas2 img  {
    width: 20px;
    height: 20px;
  }
}

.mashero {
  text-align: center;
}

.iconos img  {
  width: 50px;
  height: 50px;

  
}

@media (max-width: 700px) {
  .iconos img  {
    width: 20px;
    height: 20px;
  }
}

.iconos 
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 5%;
  margin-top: 10%;
  border-top: 2px solid black;
  background-color: #fcfcfc;
 
}


@keyframes animacionMac {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    -webkit-transform-origin: top right;
            transform-origin: top right;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: top right;
            transform-origin: top right;
    opacity: 1;
  }
  }


  

.imgmac {
  margin-bottom: 5%;
  animation-name: animacionMac;
  animation-iteration-count:initial;
  animation-duration: 10s;
}
